@model Instructor
<div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Instructor image">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Address</p>
        <a href="/Instructor/Index" class="btn btn-primary">Back</a>
    </div>
</div>
