@model TraineeNameAndCrsNameAndDegreeViewModel



<table class="table table-bordered">
    <tr style="color:@Model.Color">
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.CrsName</td>
        <td>@Model.Degree</td>
    </tr>
</table>
